@import './reset.css';

html { font: 12.5px/12.5px Helvetica, sans-serif; }

body {

    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, #FFF, #FAFAFA, #FFF);
}

.frame {

    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 25rem;
    transition: opacity 1s;
}

.frame--transition {

    opacity: 0;
}

.form {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__field {

    position: relative;
    display: flex;
    padding: 1.5rem 0;
    width: 75%;
    flex-direction: column;
    justify-content: flex-end;
}

.form__label {

    position: absolute;
    line-height: 3rem;
    text-indent: 1.1rem;
    font-size: 1.05rem;
    color: #A1A2A3;
    letter-spacing: .05rem;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: text;
}

.form__label:first-letter {

    text-transform: capitalize;
}

.form__label--transition {

    transition-property: transform, font-size, height, color, line-height, text-indent;
    transition-duration: .45s;
}

.form__label--active {

    line-height: 2rem;
    text-indent: initial;
    font-size: 1rem;
    color: #717273;

    transform: translateY(-3rem);
}

.form__input {

    padding: 0 1rem;
    border: .1rem solid #E1E2E3;

    line-height: 2.8rem;
    font-size: 1.05rem;
    letter-spacing: .05rem;
}

.form__button {

    margin: 1.5rem 0;
    width: 55%;
    background-color: #00A8E8;

    line-height: 3rem;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color: #FFF;
    letter-spacing: .1rem;

    cursor: pointer;
    transition: margin .1s,
                width .1s,
                background-color .1s,
                line-height .1s;
}

.form__button:active {

    margin: 1.6rem 0 1.6rem 0;
    width: 54%;
    background-color: #0095D5;

    line-height: 2.8rem;
}

.frame__trigger {

    margin: 0 auto;
    background-color: initial;

    line-height: 1.5rem;
    font-size: 1.15rem;
    color: #A1A2A3;
    letter-spacing: .05rem;

    cursor: pointer;
    transition: font-size .25s,
                color .25s;
}

.frame__trigger:hover {

    font-size: 1.1rem;
    color: #717273;
}
