@use './abstracts/keyframes';
@use './abstracts/colors';

* {

    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: initial;
    outline: initial;
}

html { font: 12.5px/12.5px Helvetica, sans-serif; }

body {

    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom, white, darken(white, 2.5%), white);
}

.frame {

    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 25rem;
    transition: opacity .5s;

    &--invisible { opacity: 0; }

    &--hidden { visibility: hidden; }

    &--transition { opacity: 0; }

    &__trigger {

        margin: 0 auto;
        background-color: initial;

        line-height: 1.5rem;
        font-size: 1.15rem;
        color: colors.$gray;
        letter-spacing: .05rem;

        cursor: pointer;
        transition: font-size .25s,
                    color .25s;

        &:hover {

            font-size: 1.1rem;
            color: darken(colors.$gray, 20%);
        }
    }
}

.form {

    $field: '.form__field';

    display: flex;
    flex-direction: column;
    align-items: center;

    &__field {

        position: relative;
        display: flex;
        padding: 1.5rem 0;
        width: 75%;
        flex-direction: column;
        justify-content: flex-end;

        &--shake { animation: shake .25s linear 1; }
    }

    &__label {

        position: absolute;
        line-height: 3rem;
        text-indent: 1.1rem;
        font-size: 1.05rem;
        color: colors.$gray;
        letter-spacing: .05rem;

        user-select: none;
        cursor: text;

        transition: color .25s;

        &:first-letter { text-transform: capitalize; }

        &--transition {

            transition-property: transform, font-size, height, color, line-height, text-indent;
            transition-duration: .45s;
        }

        &--active {

            line-height: 2rem;
            text-indent: initial;
            font-size: 1rem;
            color: darken(colors.$gray, 20%);

            transform: translateY(-3rem);
        }

        #{ $field }--incorrect & { color: colors.$red; }
        #{ $field }--correct & { color: colors.$green; }

    }

    &__input {

        padding: 0 1rem;
        border: .1rem solid colors.$gray;

        line-height: 2.8rem;
        font-size: 1.05rem;
        letter-spacing: .05rem;

        transition: border-color .25s;

        #{ $field }--incorrect & { border-color: colors.$red; }
        #{ $field }--correct & { border-color: colors.$green; }
    }

    &__message {

        position: absolute;
        top: 3rem;
        width: 100%;
        line-height: 1.5rem;
        text-align: center;
        color: colors.$red;

        z-index: -1;

        transition: transform .5s;

        #{ $field }--incorrect & { transform: translateY(1.5rem); }
    }

    &__button {

        margin: 1.5rem 0;
        width: 55%;
        background-color: colors.$blue;

        line-height: 3rem;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 1.5rem;
        color: white;
        letter-spacing: .1rem;

        cursor: pointer;
        transition: margin .1s,
                    width .1s,
                    background-color .1s,
                    line-height .1s;

        &:active {

            margin: 1.6rem 0 1.6rem 0;
            width: 54%;
            background-color: darken(colors.$blue, 5%);

            line-height: 2.8rem;
        }
    }
}
